.DailyStatistics {
}

/* SalesSummary.module.css */
.salesSummary {
  background-color: #f0f8ff; /* 연한 파란색 배경 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.salesSummary h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 15px;
  font-weight: bold;
}

.salesSummary p {
  font-size: 18px;
  color: #34495e;
  margin: 5px 0;
}

.salesSummary p span {
  font-weight: bold;
  color: #27ae60; /* 강조된 부분은 초록색 */
}

.salesSummary .icon {
  font-size: 24px;
  margin-right: 10px;
  color: #e74c3c; /* 빨간색 아이콘 */
}
