.DailyStatistics {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* SalesSummary.module.css */
.fadeIn {
  animation: fadeInAnimation 1.5s ease-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slideIn {
  animation: slideInAnimation 0.5s ease-out;
}

@keyframes slideInAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.salesSummary {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.salesSummary h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 15px;
  font-weight: bold;
}

.salesSummary p {
  font-size: 18px;
  color: #34495e;
  margin: 5px 0;
}

.salesSummary p span {
  font-weight: bold;
  color: #000000; /* 강조된 부분은 초록색 */
}
