.SalesStatistics {
  margin-top: 40px;
}

.SalesStatistics > div > div {
  padding: 10px;
}

.card {
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 240px;
  border-radius: 5px;
}

.card:last-child {
  cursor: default;
}

.card span {
  display: flex;
}

.card span:last-child {
  margin-top: 20px;
  font-size: 24px;
}

.card_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card_1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ----------------- 매출액 그래프 ----------------- */
.chart {
  display: flex;
}
