.Footer {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.img {
  margin-left: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.Footer img {
  margin-top: 10px;
  width: 160px;
  height: 50px;
}

.Footer img:first-child {
  width: 120px;
}

/* --------------- hr 태그 ----------------- */
.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div_transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #9bc2c791,
    transparent
  );
}
