/* ---------------- 폰트 -------------- */
@font-face {
  font-family: "MaruBuri";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf)
      format("truetype");
}

/* ------------------------------------ */

.Header {
  display: flex;
  justify-content: center;
  background-color: #9bc2c791;
}

.title {
  display: flex;
  gap: 50px;
  padding: 10px;
}

.title > h3 {
  font-family: "MaruBuri";
  margin-top: 30px;
}

.navigation {
  position: absolute;
  top: 60px;
  right: 50px;
}
